#main-image{
  img{
    width: 100%;
  }
}

#quantity {
    width: 11%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    margin: .375rem;
    text-align: center;
}

#product_show{
  margin-top: 3rem;
}

#product-title{
  font-weight: 700;
}
