
   <div class="banner" id="parallax">
      <div class="wrapper banner-wrapper">
        <p class="banner-title">Mokey is being incubated at Velocity🐣, a startup incubator in Kitchener-Waterloo area. </p>
        <button type="button" class="btn btn-danger btn-rounded">Danger</button>
      </div>
   </div>

   <!--Main layout-->
   <main>
          <!-- <hr class="my-5"> -->

          <div class="page-width--wide">

          <!-- Why Mokey -->

        <div id="why-mokey">
          <h2 class="story-title h2">Automate your office with Mokey</h2>

          <div class="history">
              <div class="history-container">

                <div class="history-pic wow fadeIn">
                </div>
                <div class="history-text">
                  <div class="text-container" id="history-text-container">
                    <h3 class="h3">Wholesale prices &amp; fast delivery!</h3>
                    <hr class="hr">
                    <p class="text-p p">All of our products are from wholesale clubs at the premium quality. You don't need to own a membership to shop on our platform! We provide speedy next-day delivery if you need anything right away, and you could order up to 7 days ahead.⚡</p>
                  </div>
                </div>
              </div>
          </div>

          <div class="story">
                <div class="story-container">
                  <div class="story-text">
                    <div class="text-container" id="story-text-container">
                        <h3 class="h3">Automated ordering&amp; stocking service</h3>
                      <hr class="hr">
                      <p class="text-p p">Subscribe to any products you like and have them delivered periodically to your office. 6L of cream &amp; 8L of milk every Tuesday? Done! No more manual re-ordering. Moreover, we will also stock them to the right place for you, the way you want.😉
                      </p>


                    </div>
                  </div>
                  <div class="story-pic wow fadeIn">
                  </div>
                </div>
              </div>

              <div class="history">
                  <div class="history-container">

                    <div class="history-pic2 wow fadeIn">
                    </div>
                    <div class="history-text">
                      <div class="text-container" id="history-text-container">
                        <h3 class="h3">New favourites every time</h3>
                        <hr class="hr">
                        <p class="text-p p">Sick of eating/drinking the same selection every week? Let's rotate new things for you every week. Enroll in our Rotation Program and select a pool of items you would like rotate through. We will curate a different selection for you every week. Happier employees, better performance!😄</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

           <!--how it works-->


 <div class="container hiw-container">
   <h2 class="text-center h2">Shopping on Mokey is easy!</h2>
   <div class="cards">

     <div class="card">
       <div class="card-container">
         <div class="container-img">
           <img src="//cdn.shopify.com/s/files/1/1977/2911/t/7/assets/online-shopping.png?" alt="Online-shopping">
         </div>
         <h5 class='hiw-h5'>You Choose</h5>
         <p>You order on Mokey and schedule the delivery. Free next-day delivery over $35.🎉</p>
       </div>
     </div>

     <div class="card">
       <div class="card-container">
         <div class="container-img">
           <img src="//cdn.shopify.com/s/files/1/1977/2911/t/7/assets/car-icon-v2-190811.png" alt="">
         </div>
         <h5 class='hiw-h5'>We Shop &amp; Deliver</h5>
         <p>Our shoppers will carefully gather the goodies and deliver to you between 12-3pm.😉</p>
       </div>
     </div>

     <div class="card  ">
       <div class="card-container">
         <div class="container-img">
           <img src="//cdn.shopify.com/s/files/1/1977/2911/t/7/assets/no-bs-v2-190811.png?3665" alt="">
         </div>
         <h5 class='hiw-h5'>Simple &amp; No B.S. fees</h5>
         <p class="p-tag">No delivery/service fee, no membership, no tip.<strong> What you see is what you pay (before tax).</strong> </p>
         <a href="https://business.mokey.ca#questions" class="btn-learn"> What is the catch?</a>
       </div>
     </div>
   </div>
   <div class="d-flex justify-content-center text-center">
     <a href="/collections/most-popular" class="btn-CTA btn waves-effect waves-light">
                         Start Ordering
      </a>
   </div>
 </div>


 <h2 class="h2">Build with 💖 in KW Area</h2>
    <div class="mission" id="parallax">
       <p class="mission-statement">Mokey is being incubated at Velocity🐣, a startup incubator in Kitchener-Waterloo area. </p>

 </div>




           <!--Section: Magazine v.1-->
           <section class="wow fadeIn">

               <!--Section heading-->
               <h2 class="h1 text-center my-5 font-weight-bold">Magazine NewsFeed</h2>

               <!--Grid row-->
               <div class="row text-left">

                   <!--Grid column-->
                   <div class="col-lg-6 col-md-12">

                       <!--Image-->
                       <div class="view overlay rounded z-depth-1-half mb-3">
                           <img src="https://mdbootstrap.com/img/Photos/Others/images/77.jpg" class="img-fluid" alt="Sample post image">
                           <a>
                               <div class="mask rgba-white-slight"></div>
                           </a>
                       </div>

                       <!--Excerpt-->
                       <div class="news-data">
                           <a href="" class="light-blue-text">
                               <h6>
                                   <i class="fas fa-plane"></i>
                                   <strong> Travels</strong>
                               </h6>
                           </a>
                           <p>
                               <strong>
                                   <i class="fa fa-clock-o"></i> 20/08/2018</strong>
                           </p>
                       </div>
                       <h3>
                           <a>
                               <strong>This is title of the news</strong>
                           </a>
                       </h3>
                       <p> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                           placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                       </p>

                       <!--/Featured news-->

                       <hr>

                       <!--Small news-->
                       <div class="row">
                           <div class="col-md-3">

                               <!--Image-->
                               <div class="view overlay rounded z-depth-1">
                                   <img src="https://mdbootstrap.com/img/Photos/Others/photo8.jpg" class="img-fluid" alt="Minor sample post image">
                                   <a>
                                       <div class="mask rgba-white-slight"></div>
                                   </a>
                               </div>
                           </div>

                           <!--Excerpt-->
                           <div class="col-md-9">
                               <p class="dark-grey-text">
                                   <strong>19/08/2018</strong>
                               </p>
                               <a>Lorem ipsum dolor sit amet
                                   <i class="fa fa-angle-right float-right"></i>
                               </a>
                           </div>

                       </div>
                       <!--/Small news-->

                       <hr>

                       <!--Small news-->
                       <div class="row">
                           <div class="col-md-3">

                               <!--Image-->
                               <div class="view overlay rounded z-depth-1">
                                   <img src="https://mdbootstrap.com/img/Photos/Others/images/54.jpg" class="img-fluid" alt="Minor sample post image">
                                   <a>
                                       <div class="mask rgba-white-slight"></div>
                                   </a>
                               </div>
                           </div>

                           <!--Excerpt-->
                           <div class="col-md-9">
                               <p class="dark-grey-text">
                                   <strong>18/08/2018</strong>
                               </p>
                               <a>Soluta nobis est eligendi
                                   <i class="fa fa-angle-right float-right"></i>
                               </a>
                           </div>

                       </div>
                       <!--/Small news-->

                       <hr>

                       <!--Small news-->
                       <div class="row">
                           <div class="col-md-3">

                               <!--Image-->
                               <div class="view overlay rounded z-depth-1">
                                   <img src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" class="img-fluid" alt="Minor sample post image">
                                   <a>
                                       <div class="mask rgba-white-slight"></div>
                                   </a>
                               </div>
                           </div>

                           <!--Excerpt-->
                           <div class="col-md-9">
                               <p class="dark-grey-text">
                                   <strong>17/08/2018</strong>
                               </p>
                               <a>Voluptatem accusantium doloremque
                                   <i class="fa fa-angle-right float-right"></i>
                               </a>
                           </div>

                       </div>
                       <!--/Small news-->

                   </div>
                   <!--Grid column-->

                   <!--Grid column-->
                   <div class="col-lg-6 col-md-12">

                       <!--Image-->
                       <div class="view overlay rounded z-depth-1-half mb-3">
                           <img src="https://mdbootstrap.com/img/Photos/Others/images/32.jpg" class="img-fluid" alt="Sample post image">
                           <a>
                               <div class="mask rgba-white-slight"></div>
                           </a>
                       </div>

                       <!--Excerpt-->
                       <div class="news-data">
                           <a href="" class="light-blue-text">
                               <h6>
                                   <i class="fa fa-plane"></i>
                                   <strong> Travels</strong>
                               </h6>
                           </a>
                           <p>
                               <strong>
                                   <i class="fa fa-clock-o"></i> 20/08/2018</strong>
                           </p>
                       </div>
                       <h3>
                           <a>
                               <strong>This is title of the news</strong>
                           </a>
                       </h3>
                       <p> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                           placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                       </p>

                       <!--/Featured news-->

                       <hr>

                       <!--Small news-->
                       <div class="row">
                           <div class="col-md-3">

                               <!--Image-->
                               <div class="view overlay rounded z-depth-1">
                                   <img src="https://mdbootstrap.com/img/Photos/Others/photo11.jpg" class="img-fluid" alt="Minor sample post image">
                                   <a>
                                       <div class="mask rgba-white-slight"></div>
                                   </a>
                               </div>
                           </div>

                           <!--Excerpt-->
                           <div class="col-md-9">
                               <p class="dark-grey-text">
                                   <strong>19/08/2018</strong>
                               </p>
                               <a>Lorem ipsum dolor sit amet
                                   <i class="fa fa-angle-right float-right"></i>
                               </a>
                           </div>

                       </div>
                       <!--/Small news-->

                       <hr>

                       <!--Small news-->
                       <div class="row">
                           <div class="col-md-3">

                               <!--Image-->
                               <div class="view overlay rounded z-depth-1">
                                   <img src="https://mdbootstrap.com/img/Photos/Others/images/51.jpg" class="img-fluid" alt="Minor sample post image">
                                   <a>
                                       <div class="mask rgba-white-slight"></div>
                                   </a>
                               </div>
                           </div>

                           <!--Excerpt-->
                           <div class="col-md-9">
                               <p class="dark-grey-text">
                                   <strong>18/08/2018</strong>
                               </p>
                               <a>Soluta nobis est eligendi
                                   <i class="fa fa-angle-right float-right"></i>
                               </a>
                           </div>

                       </div>
                       <!--/Small news-->

                       <hr>

                       <!--Small news-->
                       <div class="row">
                           <div class="col-md-3">

                               <!--Image-->
                               <div class="view overlay rounded z-depth-1">
                                   <img src="https://mdbootstrap.com/img/Photos/Others/images/44.jpg" class="img-fluid" alt="Minor sample post image">
                                   <a>
                                       <div class="mask rgba-white-slight"></div>
                                   </a>
                               </div>
                           </div>

                           <!--Excerpt-->
                           <div class="col-md-9">
                               <p class="dark-grey-text">
                                   <strong>17/08/2018</strong>
                               </p>
                               <a>Voluptatem accusantium doloremque
                                   <i class="fa fa-angle-right float-right"></i>
                               </a>
                           </div>

                       </div>
                       <!--/Small news-->

                   </div>
                   <!--Grid column-->

               </div>
               <!--Grid row-->

           </section>
           <!--/Section: Magazine v.1-->


       </div>
   </main>
   <!--Main layout-->






<footer class="footer-distributed" id="footer">

     <div class="footer-left">

       <!-- <h3><img src="https://cdn.shopify.com/s/files/1/1977/2911/t/7/assets/logo2.png?2856" alt="Smiley face" height="42"></h3> -->
       <h3><img src="https://cdn.shopify.com/s/files/1/1977/2911/t/7/assets/Mokey_LogoWord.png" alt="Smiley face" height="150"></h3>

       <p class="footer-links">

         <a href="https://mokey.ca/pages/welcome-to-the-mokey-family">About</a>
         ·
         <a href="https://mokey.ca/pages/welcome-to-the-mokey-family#mission-car">Faq</a>
         ·
         <a href="https://mokey.ca/pages/welcome-to-the-mokey-family#footer">Contact</a>
       </p>

       <p class="footer-company-name">Mokey Co. &copy; 2019</p>
     </div>

     <div class="footer-center">

       <div>
         <i class="fa fa-map-marker"></i>
         <p>Mokey - Velocity Garage<span>151 Charles Street West, Suite 199 <br>
            Kitchener, ON N2G 1H6 </span></p>
       </div>

       <div>
         <i class="fa fa-phone"></i>
         <p>+1 438-408-1844</p>
       </div>

       <div>
         <i class="fa fa-envelope"></i>
         <p><a href="mailto:heischen@mokey.co">heischen@mokey.co</a></p>
       </div>

     </div>

     <div class="footer-right">

       <p class="footer-company-about">
         About Mokey</span>
         <span>We are a small company in Waterloo, CA. We are trying to revolutionize how people GET and EAT food!</span>
       </p>

       <div class="footer-icons">

         <a href="https://www.facebook.com/MokeyCo"><i class="fa fa-facebook"></i></a>
         <!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
         <a href="https://www.linkedin.com/in/huiran-chen-020615b3/"><i class="fa fa-linkedin"></i></a>
         <!-- <a href="#"><i class="fa fa-github"></i></a> -->
       </div>

       <div class="footer-payment-icons">


         <a ><img src="https://cdn.shopify.com/s/files/1/1977/2911/t/11/assets/visa.png?v=7425875730656027251"></a>
         <a ><img src="https://cdn.shopify.com/s/files/1/1977/2911/t/11/assets/mastercard.png?v=3966322284707734465"></a>
         <a ><img src="https://cdn.shopify.com/s/files/1/1977/2911/t/11/assets/applepay.png?v=9328416982213206208"></a>
         <a ><img class="et" src="https://cdn.shopify.com/s/files/1/1977/2911/t/11/assets/e-Transfer_logo.png?v=12632782572214512215"></a>

       </div>

     </div>

   </footer>


   <!--Footer-->
   <footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

       <!--Call to action-->
       <div class="pt-4">
           <a class="btn btn-outline-white" href="https://mdbootstrap.com/getting-started/" target="_blank" role="button">Download MDB
               <i class="fa fa-download ml-2"></i>
           </a>
           <a class="btn btn-outline-white" href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank" role="button">Start free tutorial
               <i class="fa fa-graduation-cap ml-2"></i>
           </a>
       </div>
       <!--/.Call to action-->

       <hr class="my-4">

       <!-- Social icons -->
       <div class="pb-4">
           <a href="https://www.facebook.com/mdbootstrap" target="_blank">
               <i class="fab fa-facebook-f mr-3"></i>
           </a>

           <a href="https://twitter.com/MDBootstrap" target="_blank">
               <i class="fab fa-twitter mr-3"></i>
           </a>

           <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
               <i class="fab fa-youtube mr-3"></i>
           </a>

           <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
               <i class="fab fa-google-plus mr-3"></i>
           </a>

           <a href="https://dribbble.com/mdbootstrap" target="_blank">
               <i class="fab fa-dribbble mr-3"></i>
           </a>

           <a href="https://pinterest.com/mdbootstrap" target="_blank">
               <i class="fab fa-pinterest mr-3"></i>
           </a>

           <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
               <i class="fab fa-github mr-3"></i>
           </a>

           <a href="http://codepen.io/mdbootstrap/" target="_blank">
               <i class="fab fa-codepen mr-3"></i>
           </a>
       </div>
       <!-- Social icons -->

       <!--Copyright-->
       <div class="footer-copyright py-3">
           © 2018 Copyright:
           <a href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank"> MDBootstrap.com </a>
       </div>
       <!--/.Copyright-->

   </footer>
   <!--/.Footer-->
